connection reset problems

@miyagawa reports more instability than LWP on local connections

https://travis-ci.org/plack/Plack/jobs/8031615

I note this section of code in HTTP::Tiny.  Not sure if it's related, but it seems suspicious:

```
# RFC 2616 Section 8.1.4 mandates a single retry on broken socket
my $response;
for ( 0 .. 1 ) {
    $response = eval { $self->_request($method, $url, $args) };
    last unless $@ && $idempotent{$method}
        && $@ =~ m{^(?:Socket closed|Unexpected end)};
}
```

The fact that we're string matching errors to decide whether to retry is disturbing.  Is there something we can do that's more reliable?  If not, is the error Miyagawa hit one that we should be retrying on as well?

David
