New RFCs update HTTP/1.1

I saw this page summarizing some changes: http://evertpot.com/http-11-updated/

We need to review changes and double check how we hold up with the new RFC.

The one that jumps out that we're out of spec is this one:

```
The status codes 301 and 302 have been changed to allow user agents to rewrite the method from POST to GET. This is a good example of a case where everybody has been (incorrectly) already doing this, and the spec now reflects the real world implementation.
```


Links to summaries of changes:

* [RFC 7230 - Changes from 2616](https://tools.ietf.org/html/rfc7230#appendix-A.2)
* [RFC 7231 - Changes from 2616](https://tools.ietf.org/html/rfc7231#appendix-B)
* [RFC 7232 - Changes from 2616](https://tools.ietf.org/html/rfc7232#appendix-A)
* [RFC 7233 - Changes from 2616](https://tools.ietf.org/html/rfc7233#appendix-B)
* [RFC 7234 - Changes from 2616](https://tools.ietf.org/html/rfc7234#appendix-A)
* [RFC 7235 - Changes from 2616](https://tools.ietf.org/html/rfc7235#appendix-A)



Extra for your todo list: `Location:` can now be relative ([7231#7.1.2](https://tools.ietf.org/html/rfc7231#section-7.1.2)).