request() doesn’t observe default max_redirects

The documentation describes ```max_redirect``` as applying in general; however, the ```request()``` method doesn’t seem to observe that:

```
> perl -MHTTP::Tiny -MData::Dumper -e'print Dumper( HTTP::Tiny->new()->request("get", "https://acme-staging.api.letsencrypt.org/terms") )'
$VAR1 = {
          'reason' => 'Moved Temporarily',
          'status' => '302',
          'url' => 'https://acme-staging.api.letsencrypt.org/terms',
          'headers' => {
                         'boulder-request-id' => 'D8PY_JuFFheUcvTYyvi8lYAtidgtfmmlDqOor8YxsXI',
                         'date' => 'Tue, 25 Apr 2017 21:54:02 GMT',
                         'cache-control' => 'max-age=0, no-cache, no-store',
                         'content-type' => 'text/html; charset=utf-8',
                         'expires' => 'Tue, 25 Apr 2017 21:54:02 GMT',
                         'connection' => 'keep-alive',
                         'server' => 'nginx',
                         'x-frame-options' => 'DENY',
                         'strict-transport-security' => 'max-age=604800',
                         'pragma' => 'no-cache',
                         'replay-nonce' => 'k999nys3BLRBG4n7Jl1AUIiqZXZThlsyvghK6U2Pn3s',
                         'location' => 'https://letsencrypt.org/documents/LE-SA-v1.1.1-August-1-2016.pdf',
                         'content-length' => '87'
                       },
          'success' => '',
          'content' => '<a href="https://letsencrypt.org/documents/LE-SA-v1.1.1-August-1-2016.pdf">Found</a>.

',
          'protocol' => 'HTTP/1.1'
        };
```

If I use get() instead it works as expected.

Apparently it works if you use ```GET``` rather than ```get```.

ISTM the latter should either be treated identically to the former or rejected.

The HTTP request method is case-sensitive, "get" is not equivalent to "GET".

[RFC 7231 section 4:](https://tools.ietf.org/html/rfc7231#section-4)

> The request method was envisioned as applying semantics to a target resource in much the same way as invoking a defined method on an identified object would apply semantics.  The method token is **case-sensitive** because it might be used as a gateway to object-based systems with case-sensitive method names.

 --
chansen



That’s the protocol itself; however, this module is (arguably) already inconsistent with that, or else its method would be named ```GET()```, not as it is.

What is ```get``` meant to do, then, in the context of HTTP::Tiny?

We could add a warning if `->request` is given a lowercase request method which is standardized (GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, TRACE). I don't think we should limit the API to uppercase method names.

--
chansen

Would you want to document what ```get``` does differently from ```GET```, then?

@xdg, what do you think?

--
chansen


My thoughts so far:

* I think we should clarify docs that methods to `request` are case sensitive because that's what the HTTP spec says. E.g. *"Note that HTTP method names are case-sensitive; 'get' is not the same as 'GET'!"*
* I don't think we should DWIM 'get' to 'GET'.
* I have mixed feelings about warning because our approach to date doesn't issue warnings; we expect users to use the API correctly. OTOH, it's very subtle.

FWIW, @FGasper, I'm sorry you hit this issue.  I can imagine it was quite annoying to diagnose.

@xdg So you want to keep ```get``` as “not-quite” the same thing as ```GET```? That seems bound to trip people up.

HTTP::Tiny is an abstraction over the protocol; the fact that HTTP doesn’t consider ```GET``` and ```get``` to be identical is irrelevant because no compliant client will ever send ```GET```. 

IMO the fact that there is a ```get()``` method, not a ```GET()``` method, makes a DWIM response reasonable. Were HTTP::Tiny a new module I’d advocate for an exception (Unrecognized action: “get” (did you mean “GET”?)); as it is, implementing that would probably break lots of existing implementations, so it seems reasonable to make ```get``` simply implement the documented, expected, and desired behavior.

Ahh! OK, it’s the HTTP servers themselves that are accepting “get” as an alias for “GET”.

```
> perl -MHTTP::Tiny -e'HTTP::Tiny->new()->request("get", "http://localhost:8765/")'

> nc -l 8765
get / HTTP/1.1
Host: localhost:8765
User-Agent: HTTP-Tiny/0.070
```

Then, yeah, I guess HTTP::Tiny’s current behavior makes sense.

A warning in the docs that request() passes the verb verbatim (case sensitivity and all) might be helpful.

I'll try to make it stand out. :-)