Add SSL read error to retryable errors list (was Strange errors with long lived, but randomly long-idling HTTP::Tiny instances)

I've seen a pattern that is hard to reproduce explicitly, and I can't tell if SSL plays a part, or if the server hanging up plays its part.

I have a script, which basically runs forever in a while(1){ } loop.

That script sometimes has swarms of requests, and other times idles several hours between requests.

I had a problem where, after a long idle period, the first request would return an internal error 599.

So I worked around the issue by making sure that the HTTP::Tiny instance, would get disposed of (`undef`'d ), and recreated,  if at the time of the underlying request, the instance had existed for more than 60 seconds.

Since doing so, my errors have gone away entirely.

Now naturally I suspect this is something that *could* be handled internally by HTTP::Tiny, if not, I don't see any control knobs documented that would give similar mechanics.

But "I accidentally had an instance for too long, and now requests error" seems like an odd thing to be a default mechanism.

Yes, unfortunately due to the nature of the problem, I can only describe it, because reproducing it basically is SMOP following the documentation, and then waiting several hours between requests and hoping .... 

But I hope my description of the problem is adequate to have some insight into where the problem *could* lie.


This is a super reduced demonstration of the *sort* of stuff I'm doing, and hopefully, this will give me an error sometime today.

```perl
#!perl
use strict;
use warnings;

use HTTP::Tiny;
use Data::Dumper;

my $ua = HTTP::Tiny->new(
  agent => 'connection-timeout test ',
);
my $url = "https://crates.io/api/v1/crates/libc/versions";
my $this_wait = 0;
my $next_wait = 1;
while(1) {
  print "Sleeping $this_wait ...\n";
  sleep($this_wait);
  print "Trying after $this_wait seconds ( $url )... ";
  my $response = $ua->get($url);
  if ( not $response->{success} ) {
    print "\e[31mFAIL\e[0m\n";
    die Data::Dumper::Dumper($response);
  }
  print "\e[32mOK\e[0m\n";
  $this_wait = $next_wait;
  $next_wait *= 2;
}
```

It may take a while to get to the bottom of this. I'd start by adding more debug logging for the error path (e.g. start dumping data to a separate file if you get a 5xx response), to get more information about that 599 error. I'm going to guess that it's something in SSL.. perhaps a timestamp that gets encoded somewhere and not refreshed when it should, but... 🤷‍♀️ 

Also, have you got the latest versions of Net::SSLeay, IO::Socket::SSL etc?

Well, that's annoying, the job I set up explicitly to find the bug, has yet to fail, even with 2<sup>17</sup> second delays.

But the job I had the "reset the connection every minute just in case" bodge, it failed.

```
Could not fetch /api/v1/crates/rustc-ap-rustc_index/versions: {
  content  => "Internal Server Error",
  headers  => {
                "connection"                => "keep-alive",
                "content-length"            => 21,
                "date"                      => "Thu, 12 Nov 2020 20:18:39 GMT",
                "server"                    => "nginx",
                "strict-transport-security" => "max-age=31536000",
                "via"                       => "1.1 vegur, 1.1 3fc453cdcc374ea2b29f4a05163655f0.cloudfront.net (CloudFront)",
                "x-amz-cf-id"               => "ba4NNbAunfWLTLpMhk8vC1i6kJA_-prvL58rOiOvurx6EyBg180rAg==",
                "x-amz-cf-pop"              => "AKL50-C2",
                "x-cache"                   => "Error from cloudfront",
              },
  protocol => "HTTP/1.1",
  reason   => "Internal Server Error",
  status   => 500,
  success  => "",
  url      => "https://crates.io/api/v1/crates/rustc-ap-rustc_index/versions",
}
```

Though I should point out, this is a different error, one I've never seen before, the bits in it may expose parts of the problem which will be useful for analysis later.


HTTP 500 is different from 599 -- where is that coming from, I wonder? HTTP::Tiny only generates 599 for internal errors.. and the actual value of $@ when the eval fails at line 435 should be in $response->{content}.

edit: ah, see line 444 -- the error is indeed coming from another castle!

(one final debugging thought - add Devel::Confess to the mix to see if that helps - it may make a mess of the hashref being thrown somewhere deeper, but at least you'll get a stack trace to see who's doing it.)

I've tweaked my "reproduce this" script a bit ( seems I was actually using timeout => 15, which ... I don't think should cause this problem, but could have ), and rerolled it.

And also instrumented my main case to not do the 'reset the instance' magic *until* a failure happened, and instrumented it with request level logging and dumping any failing request to the request log.

And the waiting game begins anew.

The "actual loop slave" code block is now, 

```perl
sub api_fetch {
    state( $tiny );
    my $retry_wait = 1;
    my ( $url, $fatal ) = @_;
    if ( not defined $tiny ) {
      $tiny = _init_http_tiny();
    }
    while(1) {
      $LOG_FD->printf("%s: GET %s%s ", scalar gmtime(), $CRATES_BASE_URL, $url);
      my $response = $tiny->get( $CRATES_BASE_URL . $url );
      if ( $response->{success} ) {
        $LOG_FD->print("OK\n");
        return $JXS->decode( $response->{content} );
      }
      $LOG_FD->print("ERROR\n");
      $LOG_FD->print("Context: " . pp($response)."\n");
      if ( $retry_wait > 10 ) {
        $LOG_FD->print("Too many attempts, hard abort\n");
        if ( $fatal ) {
           die "Too many attempts to fetch $url, aborting: " . pp($response);
        } else {
           warn "Could not fetch $url: " . pp($response);
           return;

        }
     }
     $LOG_FD->print("Reset and rety in $retry_wait\n");
     sleep($retry_wait);
     $tiny = _init_http_tiny();
     $retry_wait *= 1.5;
  }
}
```

In case anyone is curious.

Wew, after a full day running... it idles for an hour and then returns a failure.

```
Fri Nov 13 12:05:52 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
Fri Nov 13 13:23:30 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
Context: {
  content => TRACE
  headers => { "content-length" => 1681, "content-type" => "text/plain" },
  reason  => "Internal Exception",
  status  => 599,
  success => "",
  url     => "https://crates.io/api/v1/crates/atom/versions",
}
Reset and rety in 1
Fri Nov 13 13:23:31 2020: GET https://crates.io/api/v1/crates/atom/versions OK
```
And with TRACE formatted to be readable:
```
Could not read from SSL socket: 'SSL read error'  at HTTP/Tiny.pm line 1219.
HTTP::Tiny::Handle::readline(HTTP::Tiny::Handle=HASH(0x559a53de9340)) called at HTTP/Tiny.pm line 1480
HTTP::Tiny::Handle::read_response_header(HTTP::Tiny::Handle=HASH(0x559a53de9340)) called at HTTP/Tiny.pm line 629
HTTP::Tiny::_request(HTTP::Tiny=HASH(0x559a53712798), "GET", "https://crates.io/api/v1/crates/atom/versions", HASH(0x559a53de7120)) called at HTTP/Tiny.pm line 426
eval {...} called at HTTP/Tiny.pm line 426
HTTP::Tiny::request(HTTP::Tiny=HASH(0x559a53712798), "GET", "https://crates.io/api/v1/crates/atom/versions", HASH(0x559a53de7120)) called at (eval 17)[HTTP/Tiny.pm:206] line 6
HTTP::Tiny::get(HTTP::Tiny=HASH(0x559a53712798), "https://crates.io/api/v1/crates/atom/versions") called at $PWD/lib/cargo.pm line 56
cargo::api_fetch("/api/v1/crates/atom/versions", 1) called at $PWD/lib/cargo.pm line 102
cargo::update_version_info("atom", ARRAY(0x559a53d52000)) called at crateversions.pl line 61
main::do_update("CoreFoundation-sys", "IOKit-sys", "MacTypes-sys", "RustyXML", "ab_glyph_rasterizer", "abomonation", "abort_on_panic", "accelerate-provider", ...) called at crateversions.pl line 35
```

So yeah, something in the SSL transport fails.

I intentionally didn't try upgrading anything SSL related because I wanted to get some sort of replication and backtrace before I did that :P 

Maybe worth mentioning, at the time of the failure, the agent had made 9946 requests without a reset, starting:

> Thu Nov 12 20:46:09 2020

Failing:

> Fri Nov 13 13:23:30 2020

That's 59.8k seconds / 997 minutes / 16 hours alive before failure.

( Though the repeated occurrence of numbers close to 1k and 10k in the data seem suspicious )


Well, that's curious, it happened again, ... at the same point in the iteration.

But later.

Its worth mentioning here for peoples understanding, that the time-of-poll is directly related to the files Mtime which is updated when it is polled. And my analyser loop processes these files alphabetically, batching groups of updates as it sees them.

Which incidentally means the last request of "z..." and the first request of "a", are at the moment at least, the furthest apart time wise, having a lot of requests in a shorter time from  "a-z" , and no requests in a longer time from "z-a", and this could have some fun effects on the remote side for page caching .... 

 17554	Sat Nov 14 00:08:03 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 17555	Sat Nov 14 01:23:44 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR

This time, 43.2k seconds / 720 minutes / 12 hours since the last failure.

But this may be key, in terms of numbers of requests, the numbers are similar ( 9949 vs 7606 ), but this could be highlighting a mistake I made in logging the data at some point.

But its curious that the "zstd-sys -> atom" threshold *doesn't* fail every  time.
Some timestamps of that threshold being passed previously:

```
   496	Thu Nov 12 21:00:41 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
   497	Thu Nov 12 22:23:11 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
  2386	Fri Nov 13 00:02:16 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  2387	Fri Nov 13 01:23:16 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
  4276	Fri Nov 13 03:03:29 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  4277	Fri Nov 13 04:23:18 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
  6166	Fri Nov 13 06:04:20 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  6167	Fri Nov 13 07:23:24 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
  8056	Fri Nov 13 09:05:19 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  8057	Fri Nov 13 10:23:27 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
  9946	Fri Nov 13 12:05:52 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  9947	Fri Nov 13 13:23:30 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
  9957	Fri Nov 13 13:23:31 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
 11852	Fri Nov 13 15:06:29 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 11853	Fri Nov 13 16:23:35 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
 13744	Fri Nov 13 18:07:00 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 13745	Fri Nov 13 19:23:38 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
 15662	Fri Nov 13 21:07:31 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 15663	Fri Nov 13 22:23:41 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
 17554	Sat Nov 14 00:08:03 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 17555	Sat Nov 14 01:23:44 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
 17565	Sat Nov 14 01:23:45 2020: GET https://crates.io/api/v1/crates/atom/versions OK
---
 19454	Sat Nov 14 03:08:37 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 19455	Sat Nov 14 04:23:49 2020: GET https://crates.io/api/v1/crates/atom/versions OK
```
Note those numbers are line numbers, so those error blobs in my log will mess them up :) 
There are also additional requests that get fired off when a new version occurs, which causes even more line-number variance.

But that doesn't seem to say anything interesting either :(

```
   119	Thu Nov 12 20:49:29 2020: GET https://crates.io/api/v1/crates/tokio/0.2.23/dependencies OK
   497	Thu Nov 12 22:23:11 2020: GET https://crates.io/api/v1/crates/atom/versions OK
  2387	Fri Nov 13 01:23:16 2020: GET https://crates.io/api/v1/crates/atom/versions OK
  4277	Fri Nov 13 04:23:18 2020: GET https://crates.io/api/v1/crates/atom/versions OK
  6167	Fri Nov 13 07:23:24 2020: GET https://crates.io/api/v1/crates/atom/versions OK
  8057	Fri Nov 13 10:23:27 2020: GET https://crates.io/api/v1/crates/atom/versions OK
  9947	Fri Nov 13 13:23:30 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
  9957	Fri Nov 13 13:23:31 2020: GET https://crates.io/api/v1/crates/atom/versions OK
  9964	Fri Nov 13 13:25:39 2020: GET https://crates.io/api/v1/crates/crates-index/0.16.1/dependencies OK
 11117	Fri Nov 13 14:20:21 2020: GET https://crates.io/api/v1/crates/route-recognizer/0.3.0/dependencies OK
 11460	Fri Nov 13 14:52:01 2020: GET https://crates.io/api/v1/crates/tide/0.15.0/dependencies OK
 11853	Fri Nov 13 16:23:35 2020: GET https://crates.io/api/v1/crates/atom/versions OK
 12432	Fri Nov 13 16:57:07 2020: GET https://crates.io/api/v1/crates/http-types/2.8.0/dependencies OK
 13745	Fri Nov 13 19:23:38 2020: GET https://crates.io/api/v1/crates/atom/versions OK
 13783	Fri Nov 13 19:30:57 2020: GET https://crates.io/api/v1/crates/bindgen/0.47.4/dependencies OK
 14704	Fri Nov 13 20:12:52 2020: GET https://crates.io/api/v1/crates/pin-project-lite/0.2.0/dependencies OK
 15227	Fri Nov 13 20:51:39 2020: GET https://crates.io/api/v1/crates/terminal_size/0.1.14/dependencies OK
 15384	Fri Nov 13 20:57:56 2020: GET https://crates.io/api/v1/crates/trust-dns/0.19.6/dependencies OK
 15387	Fri Nov 13 20:58:00 2020: GET https://crates.io/api/v1/crates/trust-dns-client/0.19.6/dependencies OK
 15390	Fri Nov 13 20:58:03 2020: GET https://crates.io/api/v1/crates/trust-dns-https/0.19.6/dependencies OK
 15393	Fri Nov 13 20:58:07 2020: GET https://crates.io/api/v1/crates/trust-dns-native-tls/0.19.6/dependencies OK
 15396	Fri Nov 13 20:58:11 2020: GET https://crates.io/api/v1/crates/trust-dns-openssl/0.19.6/dependencies OK
 15399	Fri Nov 13 20:58:20 2020: GET https://crates.io/api/v1/crates/trust-dns-proto/0.19.6/dependencies OK
 15402	Fri Nov 13 20:58:24 2020: GET https://crates.io/api/v1/crates/trust-dns-resolver/0.19.6/dependencies OK
 15405	Fri Nov 13 20:58:29 2020: GET https://crates.io/api/v1/crates/trust-dns-rustls/0.19.6/dependencies OK
 15408	Fri Nov 13 20:58:33 2020: GET https://crates.io/api/v1/crates/trust-dns-server/0.19.6/dependencies OK
 15439	Fri Nov 13 20:59:35 2020: GET https://crates.io/api/v1/crates/unicode-segmentation/1.7.0/dependencies OK
 15489	Fri Nov 13 21:01:14 2020: GET https://crates.io/api/v1/crates/vte/0.9.0/dependencies OK
 15663	Fri Nov 13 22:23:41 2020: GET https://crates.io/api/v1/crates/atom/versions OK
 17141	Fri Nov 13 23:51:52 2020: GET https://crates.io/api/v1/crates/terminal_size/0.1.15/dependencies OK
 17555	Sat Nov 14 01:23:44 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
 17565	Sat Nov 14 01:23:45 2020: GET https://crates.io/api/v1/crates/atom/versions OK
 19455	Sat Nov 14 04:23:49 2020: GET https://crates.io/api/v1/crates/atom/versions OK
```


Super weird. 




So, updated: `HTTP::Tiny`, `IO::Socket::SSL` and `Net::SSLeay`, problem persists.

But its very curious how specific crates are more succeptible to failure than others ... and sometimes failures occur closer than 20 seconds from the previous request.

<details>
  <summary><code>grep -B1 -E "(ERROR|/(atom|CoreFoundation-sys)/versions)" <( cat -n  /tmp/crates.io-requests.25705.log  )</code>
  </summary>

   ```console

$ grep -B1 -E "(ERROR|/(atom|CoreFoundation-sys)/versions)" <( cat -n  /tmp/crates.io-requests.25705.log  )
     1	Sat Nov 14 20:52:22 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
   494	Sat Nov 14 21:11:09 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
   495	Sat Nov 14 22:24:08 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
  1892	Sat Nov 14 23:39:06 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
  1893	Sat Nov 14 23:52:24 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
  2386	Sun Nov 15 00:11:35 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  2387	Sun Nov 15 01:24:13 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
  3798	Sun Nov 15 02:39:18 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
  3799	Sun Nov 15 02:52:29 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
  4294	Sun Nov 15 03:12:01 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  4295	Sun Nov 15 04:24:17 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
  5690	Sun Nov 15 05:39:37 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
  5691	Sun Nov 15 05:52:32 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
  6184	Sun Nov 15 06:12:17 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  6185	Sun Nov 15 07:24:21 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
  7580	Sun Nov 15 08:39:51 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
  7581	Sun Nov 15 08:52:35 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
  8074	Sun Nov 15 09:12:35 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  8075	Sun Nov 15 10:24:24 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
  9470	Sun Nov 15 11:40:09 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
  9471	Sun Nov 15 11:52:37 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
  9964	Sun Nov 15 12:13:00 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
  9965	Sun Nov 15 13:24:27 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 11360	Sun Nov 15 14:40:28 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 11361	Sun Nov 15 14:52:39 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 11854	Sun Nov 15 15:13:25 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 11855	Sun Nov 15 16:24:31 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 13254	Sun Nov 15 17:40:43 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 13255	Sun Nov 15 17:52:42 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions ERROR
 13256	Context: {
 13257	  content => "Could not read from SSL socket: 'SSL read error'\n  at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1233.\n\tHTTP::Tiny::Handle::readline(HTTP::Tiny::Handle=HASH(0x560c6903c588)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1494\n\tHTTP::Tiny::Handle::read_response_header(HTTP::Tiny::Handle=HASH(0x560c6903c588)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 643\n\tHTTP::Tiny::_request(HTTP::Tiny=HASH(0x560c6894ba38), \"GET\", \"https://crates.io/api/v1/crates/CoreFoundation-sys/versions\", HASH(0x560c690c6cc8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\teval {...} called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\tHTTP::Tiny::request(HTTP::Tiny=HASH(0x560c6894ba38), \"GET\", \"https://crates.io/api/v1/crates/CoreFoundation-sys/versions\", HASH(0x560c690c6cc8)) called at (eval 17)[/home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm:206] line 6\n\tHTTP::Tiny::get(HTTP::Tiny=HASH(0x560c6894ba38), \"https://crates.io/api/v1/crates/CoreFoundation-sys/versions\") called at /home/kent/rust/vcheck/lib/cargo.pm line 58\n\tcargo::api_fetch(\"/api/v1/crates/CoreFoundation-sys/versions\", 1) called at /home/kent/rust/vcheck/lib/cargo.pm line 104\n\tcargo::update_version_info(\"CoreFoundation-sys\", ARRAY(0x560c69153a60)) called at crateversions.pl line 61\n\tmain::do_update(\"CoreFoundation-sys\", \"IOKit-sys\", \"MacTypes-sys\", \"RustyXML\", \"ab_glyph_rasterizer\", \"abomonation\", \"abort_on_panic\", \"accelerate-provider\", ...) called at crateversions.pl line 35\n",
--
 13261	  success => "",
 13262	  url     => "https://crates.io/api/v1/crates/CoreFoundation-sys/versions",
--
 13264	Reset and rety in 1
 13265	Sun Nov 15 17:52:43 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 13758	Sun Nov 15 18:13:49 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 13759	Sun Nov 15 19:24:34 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 15156	Sun Nov 15 20:40:58 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 15157	Sun Nov 15 20:52:47 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 15650	Sun Nov 15 21:14:05 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 15651	Sun Nov 15 22:24:38 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 17046	Sun Nov 15 23:41:11 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 17047	Sun Nov 15 23:52:51 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions ERROR
 17048	Context: {
 17049	  content => "Could not read from SSL socket: 'SSL read error'\n  at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1233.\n\tHTTP::Tiny::Handle::readline(HTTP::Tiny::Handle=HASH(0x560c690c3020)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1494\n\tHTTP::Tiny::Handle::read_response_header(HTTP::Tiny::Handle=HASH(0x560c690c3020)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 643\n\tHTTP::Tiny::_request(HTTP::Tiny=HASH(0x560c6892cfd0), \"GET\", \"https://crates.io/api/v1/crates/CoreFoundation-sys/versions\", HASH(0x560c68fbd3e0)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\teval {...} called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\tHTTP::Tiny::request(HTTP::Tiny=HASH(0x560c6892cfd0), \"GET\", \"https://crates.io/api/v1/crates/CoreFoundation-sys/versions\", HASH(0x560c68fbd3e0)) called at (eval 17)[/home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm:206] line 6\n\tHTTP::Tiny::get(HTTP::Tiny=HASH(0x560c6892cfd0), \"https://crates.io/api/v1/crates/CoreFoundation-sys/versions\") called at /home/kent/rust/vcheck/lib/cargo.pm line 58\n\tcargo::api_fetch(\"/api/v1/crates/CoreFoundation-sys/versions\", 1) called at /home/kent/rust/vcheck/lib/cargo.pm line 104\n\tcargo::update_version_info(\"CoreFoundation-sys\", ARRAY(0x560c689410d0)) called at crateversions.pl line 61\n\tmain::do_update(\"CoreFoundation-sys\", \"IOKit-sys\", \"MacTypes-sys\", \"RustyXML\", \"ab_glyph_rasterizer\", \"abomonation\", \"abort_on_panic\", \"accelerate-provider\", ...) called at crateversions.pl line 35\n",
--
 17053	  success => "",
 17054	  url     => "https://crates.io/api/v1/crates/CoreFoundation-sys/versions",
--
 17056	Reset and rety in 1
 17057	Sun Nov 15 23:52:52 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 17554	Mon Nov 16 00:14:31 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 17555	Mon Nov 16 01:24:41 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 18950	Mon Nov 16 02:41:25 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 18951	Mon Nov 16 02:52:55 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 19444	Mon Nov 16 03:14:51 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 19445	Mon Nov 16 04:24:44 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
 19446	Context: {
 19447	  content => "Could not read from SSL socket: 'SSL read error'\n  at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1233.\n\tHTTP::Tiny::Handle::readline(HTTP::Tiny::Handle=HASH(0x560c690053b8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1494\n\tHTTP::Tiny::Handle::read_response_header(HTTP::Tiny::Handle=HASH(0x560c690053b8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 643\n\tHTTP::Tiny::_request(HTTP::Tiny=HASH(0x560c692c6608), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c690dbe58)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\teval {...} called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\tHTTP::Tiny::request(HTTP::Tiny=HASH(0x560c692c6608), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c690dbe58)) called at (eval 17)[/home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm:206] line 6\n\tHTTP::Tiny::get(HTTP::Tiny=HASH(0x560c692c6608), \"https://crates.io/api/v1/crates/atom/versions\") called at /home/kent/rust/vcheck/lib/cargo.pm line 58\n\tcargo::api_fetch(\"/api/v1/crates/atom/versions\", 1) called at /home/kent/rust/vcheck/lib/cargo.pm line 104\n\tcargo::update_version_info(\"atom\", ARRAY(0x560c689359a8)) called at crateversions.pl line 61\n\tmain::do_update(\"CoreFoundation-sys\", \"IOKit-sys\", \"MacTypes-sys\", \"RustyXML\", \"ab_glyph_rasterizer\", \"abomonation\", \"abort_on_panic\", \"accelerate-provider\", ...) called at crateversions.pl line 35\n",
--
 19451	  success => "",
 19452	  url     => "https://crates.io/api/v1/crates/atom/versions",
--
 19454	Reset and rety in 1
 19455	Mon Nov 16 04:24:45 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 20850	Mon Nov 16 05:41:43 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 20851	Mon Nov 16 05:52:58 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 21344	Mon Nov 16 06:15:23 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 21345	Mon Nov 16 07:24:48 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 22740	Mon Nov 16 08:42:00 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 22741	Mon Nov 16 08:53:01 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 23234	Mon Nov 16 09:15:50 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 23235	Mon Nov 16 10:24:51 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
 23236	Context: {
 23237	  content => "Could not read from SSL socket: 'SSL read error'\n  at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1233.\n\tHTTP::Tiny::Handle::readline(HTTP::Tiny::Handle=HASH(0x560c689225d8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1494\n\tHTTP::Tiny::Handle::read_response_header(HTTP::Tiny::Handle=HASH(0x560c689225d8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 643\n\tHTTP::Tiny::_request(HTTP::Tiny=HASH(0x560c690653e0), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c68ffd6f8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\teval {...} called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\tHTTP::Tiny::request(HTTP::Tiny=HASH(0x560c690653e0), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c68ffd6f8)) called at (eval 17)[/home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm:206] line 6\n\tHTTP::Tiny::get(HTTP::Tiny=HASH(0x560c690653e0), \"https://crates.io/api/v1/crates/atom/versions\") called at /home/kent/rust/vcheck/lib/cargo.pm line 58\n\tcargo::api_fetch(\"/api/v1/crates/atom/versions\", 1) called at /home/kent/rust/vcheck/lib/cargo.pm line 104\n\tcargo::update_version_info(\"atom\", ARRAY(0x560c68939ef0)) called at crateversions.pl line 61\n\tmain::do_update(\"CoreFoundation-sys\", \"IOKit-sys\", \"MacTypes-sys\", \"RustyXML\", \"ab_glyph_rasterizer\", \"abomonation\", \"abort_on_panic\", \"accelerate-provider\", ...) called at crateversions.pl line 35\n",
--
 23241	  success => "",
 23242	  url     => "https://crates.io/api/v1/crates/atom/versions",
--
 23244	Reset and rety in 1
 23245	Mon Nov 16 10:24:52 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 24640	Mon Nov 16 11:42:13 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 24641	Mon Nov 16 11:53:04 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 25134	Mon Nov 16 12:16:09 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 25135	Mon Nov 16 13:24:56 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 26530	Mon Nov 16 14:42:30 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 26531	Mon Nov 16 14:53:06 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 27024	Mon Nov 16 15:16:39 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 27025	Mon Nov 16 16:25:01 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 28426	Mon Nov 16 17:42:41 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 28427	Mon Nov 16 17:53:08 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 28920	Mon Nov 16 18:17:04 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 28921	Mon Nov 16 19:25:03 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 30320	Mon Nov 16 20:42:57 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 30321	Mon Nov 16 20:53:11 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 30818	Mon Nov 16 21:17:29 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 30819	Mon Nov 16 22:25:08 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 32214	Mon Nov 16 23:43:09 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 32215	Mon Nov 16 23:53:15 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 32710	Tue Nov 17 00:17:50 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 32711	Tue Nov 17 01:25:11 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 34108	Tue Nov 17 02:43:23 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 34109	Tue Nov 17 02:53:17 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 34605	Tue Nov 17 03:18:15 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 34606	Tue Nov 17 04:25:15 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 36002	Tue Nov 17 05:43:33 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 36003	Tue Nov 17 05:53:22 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 36497	Tue Nov 17 06:18:40 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 36498	Tue Nov 17 07:25:19 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 37934	Tue Nov 17 08:43:50 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 37935	Tue Nov 17 08:53:27 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 38429	Tue Nov 17 09:19:02 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 38430	Tue Nov 17 10:25:26 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 39824	Tue Nov 17 11:44:12 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 39825	Tue Nov 17 11:53:30 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 40319	Tue Nov 17 12:19:35 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 40320	Tue Nov 17 13:25:30 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
 40321	Context: {
 40322	  content => "Could not read from SSL socket: 'SSL read error'\n  at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1233.\n\tHTTP::Tiny::Handle::readline(HTTP::Tiny::Handle=HASH(0x560c690c34e8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1494\n\tHTTP::Tiny::Handle::read_response_header(HTTP::Tiny::Handle=HASH(0x560c690c34e8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 643\n\tHTTP::Tiny::_request(HTTP::Tiny=HASH(0x560c690ff760), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c690eeae8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\teval {...} called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\tHTTP::Tiny::request(HTTP::Tiny=HASH(0x560c690ff760), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c690eeae8)) called at (eval 17)[/home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm:206] line 6\n\tHTTP::Tiny::get(HTTP::Tiny=HASH(0x560c690ff760), \"https://crates.io/api/v1/crates/atom/versions\") called at /home/kent/rust/vcheck/lib/cargo.pm line 58\n\tcargo::api_fetch(\"/api/v1/crates/atom/versions\", 1) called at /home/kent/rust/vcheck/lib/cargo.pm line 104\n\tcargo::update_version_info(\"atom\", ARRAY(0x560c690026e8)) called at crateversions.pl line 61\n\tmain::do_update(\"CoreFoundation-sys\", \"IOKit-sys\", \"MacTypes-sys\", \"RustyXML\", \"ab_glyph_rasterizer\", \"abomonation\", \"abort_on_panic\", \"accelerate-provider\", ...) called at crateversions.pl line 35\n",
--
 40326	  success => "",
 40327	  url     => "https://crates.io/api/v1/crates/atom/versions",
--
 40329	Reset and rety in 1
 40330	Tue Nov 17 13:25:31 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 41724	Tue Nov 17 14:44:34 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 41725	Tue Nov 17 14:53:34 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 42219	Tue Nov 17 15:20:06 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 42220	Tue Nov 17 16:25:34 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 43614	Tue Nov 17 17:44:48 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 43615	Tue Nov 17 17:53:37 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 44111	Tue Nov 17 18:20:27 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 44112	Tue Nov 17 19:25:37 2020: GET https://crates.io/api/v1/crates/atom/versions ERROR
 44113	Context: {
 44114	  content => "Could not read from SSL socket: 'SSL read error'\n  at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1233.\n\tHTTP::Tiny::Handle::readline(HTTP::Tiny::Handle=HASH(0x560c68fff4f8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 1494\n\tHTTP::Tiny::Handle::read_response_header(HTTP::Tiny::Handle=HASH(0x560c68fff4f8)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 643\n\tHTTP::Tiny::_request(HTTP::Tiny=HASH(0x560c692e2a90), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c69032e08)) called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\teval {...} called at /home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm line 435\n\tHTTP::Tiny::request(HTTP::Tiny=HASH(0x560c692e2a90), \"GET\", \"https://crates.io/api/v1/crates/atom/versions\", HASH(0x560c69032e08)) called at (eval 17)[/home/kent/perl5/perlbrew/perls/5.27.9-nossp-oaath-nopmc-nodot/lib/site_perl/5.27.9/HTTP/Tiny.pm:206] line 6\n\tHTTP::Tiny::get(HTTP::Tiny=HASH(0x560c692e2a90), \"https://crates.io/api/v1/crates/atom/versions\") called at /home/kent/rust/vcheck/lib/cargo.pm line 58\n\tcargo::api_fetch(\"/api/v1/crates/atom/versions\", 1) called at /home/kent/rust/vcheck/lib/cargo.pm line 104\n\tcargo::update_version_info(\"atom\", ARRAY(0x560c68fea7b0)) called at crateversions.pl line 61\n\tmain::do_update(\"CoreFoundation-sys\", \"IOKit-sys\", \"MacTypes-sys\", \"RustyXML\", \"ab_glyph_rasterizer\", \"abomonation\", \"abort_on_panic\", \"accelerate-provider\", ...) called at crateversions.pl line 35\n",
--
 44118	  success => "",
 44119	  url     => "https://crates.io/api/v1/crates/atom/versions",
--
 44121	Reset and rety in 1
 44122	Tue Nov 17 19:25:38 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 45518	Tue Nov 17 20:45:07 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 45519	Tue Nov 17 20:53:40 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 46013	Tue Nov 17 21:20:48 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 46014	Tue Nov 17 22:25:40 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 47408	Tue Nov 17 23:45:19 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 47409	Tue Nov 17 23:53:43 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 47909	Wed Nov 18 00:21:10 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 47910	Wed Nov 18 01:25:43 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 49306	Wed Nov 18 02:45:32 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 49307	Wed Nov 18 02:53:46 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 49801	Wed Nov 18 03:21:34 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 49802	Wed Nov 18 04:25:46 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 51198	Wed Nov 18 05:45:46 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 51199	Wed Nov 18 05:53:49 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 51695	Wed Nov 18 06:21:56 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 51696	Wed Nov 18 07:25:50 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 53090	Wed Nov 18 08:46:00 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 53091	Wed Nov 18 08:54:13 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 53585	Wed Nov 18 09:22:19 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 53586	Wed Nov 18 10:25:52 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 54984	Wed Nov 18 11:46:10 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 54985	Wed Nov 18 11:54:16 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
--
 55479	Wed Nov 18 12:22:30 2020: GET https://crates.io/api/v1/crates/zstd-sys/versions OK
 55480	Wed Nov 18 13:25:56 2020: GET https://crates.io/api/v1/crates/atom/versions OK
--
 56887	Wed Nov 18 14:46:22 2020: GET https://crates.io/api/v1/crates/string_cache_plugin/versions OK
 56888	Wed Nov 18 14:54:21 2020: GET https://crates.io/api/v1/crates/CoreFoundation-sys/versions OK
```
</details>

could this be related? https://github.com/chansen/p5-http-tiny/pull/117

> could this be related? #117

Seems plausible, just don't know how that looks when it happens.

can you try HTTP::Tiny using `keep_alive => 0` and check if the error still occurs.

Still happens with `keep_alive => 0`. 

probably not related then.

Possibly the "SSL read error" should be added to the list of retryable errors [here](https://github.com/chansen/p5-http-tiny/blob/a9c2da87edfd96433698ed10e448b0e5f7ec9664/lib/HTTP/Tiny.pm#L437):
```
    # RFC 2616 Section 8.1.4 mandates a single retry on broken socket
    my $response;
    for ( 0 .. 1 ) {
        $response = eval { $self->_request($method, $url, $args) };
        last unless $@ && $idempotent{$method}
            && $@ =~ m{^(?:Socket closed|Unexpected end)};
    }
```